//
// Page layout
body {
	@include font;
	color: $font-color;
}

.layout {
	margin: 0 auto;
}

section {
	@include section;
}

//
// Header
header {
	@include section;

	.navbar {
		border-width: 0 0 1px;
		border-radius: 0;
	}
	
	.navbar-brand {
		& > img {
			display: inline-block;
			margin-right: 10px;
		}
	}
}

//
// Footer
footer {
	@include section;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #F5F5F5;
	padding: 20px 0;

	p {
		margin: 0;
	}
}

// Fixes
.input-group .form-control {
	height: 33px;
}