
body.login { 
	/* Here you can set the background style */
	background: #333;
}

.login #login h1 a {
	width: 327px;
	height: 54px;
	background: url(<?php echo $templateUrl; ?>/images/admin/logo.png) no-repeat;
}