@import "../variables";
@import "../functions";

@charset "utf-8";

//
// Login screen
html {
	background-color: $color-white;

	body.login {
	
		background: $color-white url($admin-images + "background.svg") no-repeat center top;
		background-size: contain;

		#login h1 a {
			width: 314px;
			height: 65px;
			background: url($admin-images + "logo.png") no-repeat; 
		}

		#backtoblog {
			display: none;
		}
	}
}
