 #curr-theme-img{
 	background: url('sprites.png') no-repeat 0px 0px;
 	width: 285px;
    height: 148px;
 }
#curr-theme-img.default{
    background-position:  0px -444px;
}
#curr-theme-img.elegant{
    background-position:  0px -148px;
}
#curr-theme-img.eclipse{
    background-position:  0px -296px;
}
#curr-theme-img.erlang-dark{
    background-position:  0px 0px;
}
#curr-theme-img.cobalt{
    background-position:  0px -592px;
}
#curr-theme-img.blackboard{
    background-position:  0px -740px;
}
#curr-theme-img.ambiance{
    background-position:  0px -888px;
}
#curr-theme-img.xq-dark{
    background-position:  0px -1036px;
}
#curr-theme-img.rubyblue{
    background-position:  0px -1184px;
}
#curr-theme-img.night{
    background-position:  0px -1332px;
}
#curr-theme-img.neat{
    background-position:  0px -1480px;
}
#curr-theme-img.monokai{
    background-position:  0px -1628px;
}
#curr-theme-img.lesser-dark{
    background-position:  0px -1776px;
}
